<!DOCTYPE html>
<html>
  <head lang="pt">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css" />
    <title id="user-title">Squashed</title>
  </head>

  <body style="overflow-y:hidden;" class="has-navbar-fixed-bottom">

    <!-- Post Button -->
    <nav class="navbar is-fixed-bottom" role="navigation" aria-label="main navigation">
      <div class="container">
        <div class="navbar-item is-expanded">
          <input id="post-text" class="input" type="text">
          <a id="post-btn" class="button is-info">Post</a>
        </div>
      </div>
    </nav>

    <!-- Messages -->
    <div id="content" class="container" style="overflow-y:auto; margin-bottom: 100px;"></div>

    <!-- Username Button -->
    <div class="modal is-active">
      <div class="modal-background"></div>
        <div class="modal-content">
          <div class="field has-addons">
            <div class="control is-expanded">
              <input id="username-input" class="input" type="text" placeholder="Choose a username">
            </div>
            <div class="control">
              <a id="start-game" class="button is-info">Start Game</a>
            </div>
          </div>
        </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script>
      const socket = io();

      let username;
      let post;

      $("#start-game").on("click", function(){
        username = $("#username-input").val();
        document.getElementById("user-title").innerHTML = "Squashed - " + username;
        $(".modal").removeClass("is-active");
        socket.emit("users_list", username);
      });

      socket.on("nick_error", function(data){
        window.alert("Nick already exists!");
        window.location = data.url;
      });

      $("#post-btn").on("click", function(){
        msg = $("#post-text").val();
        socket.emit("post", {"username" : username, "msg" : msg})
        $("#post-text").val('');
      });

      socket.on("client_side", function(data){
        let name = data.username;
        let message = data.message;

        let message_template = `<article class="media">
                                <div class="media-content">
                                  <div class="content">
                                    <p>
                                      <strong>&nbsp;${name}</strong>
                                      <br> &nbsp;${message}
                                    </p>
                                  </div>
                                </div>
                                </article>`;
                                
        $("#content").append(message_template);

        if (message.includes(username) && document.title == "Squashed - " + username) {
          $("#post-text").prop("disabled", false);
        } else {
          $("#post-text").prop("disabled", true);
        }
      });

      socket.on("redirect", function (data) {
        window.location = data.url;
      });

      window.onbeforeunload = function (event) {
        socket.emit("quit", username);
      };
    </script>
  </body>
</html>
